<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>
  <title>Fyber Test App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <h1 class="logo"><a href="/">Fyber Test App</a></h1>
    <div class="clear"></div>

    <div class="content">
      <div class="in title">
        <h2>Search form</h2>
      </div>

      <div class="line"></div>

      <div class="in forms">
        <form accept-charset="UTF-8" action="/" method="post">
          <p>
            <strong><label for="uid">UID</label></strong><br />
            <input class="box" id="uid" name="uid" size="20" type="text" value="Machinae_Supremacy_-_Player_One" />
          </p>

          <p>
            <strong><label for="pub0">pub0</label></strong><br />
            <input class="box" id="pub0" name="pub0" size="20" type="text" value="campaign2" />
          </p>

          <p>
            <strong><label for="page">Page</label></strong><br />
            <input class="box" id="page" name="page" size="20" type="text" value="1" />
          </p>

          <p><input type="submit" class="com_btn" value="Search"></p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
